@{
    ViewBag.Title = "Home Page";
}

<!-- Quadro Principal -->
<div class="jumbotron">
    <!-- Título -->
    <h1>Empresa ABC</h1>
    <!-- SubTítulo -->
    <p class="lead">
        A Empresa ABC tem como compromisso pesquisar novas
        tecnologias que
        facilitem o desenvolvimento de aplicacoes WEB
    </p>
    <!-- Saiba Mais -->
    <p>
        <a href="/Home/QuemSomos"
           class="btn btn-primary btn-lg">Saiba mais &raquo;</a>
    </p>
</div>