@{
    ViewBag.Title = "QuemSomos";
}
<h2> Empresa ABC</h2>
<h3>Indo onde ninguém jamais esteve...</h3>
<p>
    A empresa ABC tem como missao pesquisar e descobrir
    novas tecnologias que tornem a experiencia do programador
    que cria aplicacoes web mais interessante e instigante.
</p>
<p>
    O numero de bibliotecas, frameworks, padroes, ferramentas, protocolos
    e modelos disponiveis para o desenvolvimento de aplicacoes aumenta a
    cada ano.
</p>
<p>
    Nosso trabalho e testar e validar cada ferramenta que surge no mercado.
    Cada uma e analisada quanto a sua relevancia, facilidade de uso,
    integracao com padroes existentes e possibilidade de extensao
    e adaptacao.
</p>
<p>Alguns de nossos clientes:</p>
<ul>
    <li>Nasa Like inc.</li>
    <li>Richard & Lumers Laws</li>
    <li>News Tech</li>
    <li>George Luque Inc</li>
    <li></li>
</ul>
<p>
    Solicite a visita de um representante de nossa empresa sem
    compromisso em uma visita real ou em video conferencia.
</p>