@using Lab4.App

<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="~/Estilos.css" rel="stylesheet" />
</head>
<body>

    <header>
        <a href="~/default.cshtml">
            <h1>Exemplo Web Page</h1>
            <h2>Html, Javascript, Css, Razor e Web Pages</h2>
        </a>
    </header>

    <section>

        <p>Comentários: </p>
        <pre>@WebApp.ComentariosObter()</pre>
    </section>

</body>
</html>
