
@{
    ViewBag.Title = "Início";
}

<h3>O mundo é seu destino</h3>
<p>
    O site Viagens OnLine oferece o que há de melhor em roteiros
    turísticos. Veja nosso catálogo e escolha o seu destino.
</p>
<img src="~/Content/fundo.jpg" class="imagemInicial" />