@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-lg-8 col-md-8">
            <h2>Perfil de Leonardo da Vinci</h2>
            <p class="lead">
                Olá. Meu nome é Leonardo e este é o meu site pessoal.
                Aqui você vai encontrar uma amostra do meu trabalho e
                informações de
                contato.
            </p>
        </div>
        <div class="col-lg-4 col-md-4">
            <img src="~/Content/Imagens/leo.jpg" id="img-perfil" style="width: 100%;" />
        </div>
    </div>
</div>