@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h2>Perfil de Leonardo da Vinci</h2>
    <p class="lead">
        Olá. Meu nome é Leonardo e este é o meu site pessoal.
        Aqui você vai encontrar uma amostra do meu trabalho e
        informações de
        contato.
    </p>
</div>